.vertical-menu {
    display: block;
    width: 250px;
	position: fixed;
	border-radius: 20%;

	
	

    a {
		background-color: rgba(26, 194, 223, 0.774); 
		color: black; 
		display: block; 
		padding: 12px; 
		text-decoration: none;
		border-radius: 20%;
		border: 4px solid;
	
		
		&:hover {
			background-color:purple;
		}
	}
	
	&:hover {
		width: 300px;
		background: rgb(34, 32, 32);
		transition: width 2s;
	}
    
}

.logo {
    width: 20%;
	margin-left: 10%;
	
	&:hover{

		transform: rotate(80deg);
		
	}
}
.simplon{
	margin-left: 40%;
	img{
	border: 4px solid black;
	border-radius: 20%;
	}
	


	
}
header{
	background-color:grey;
	
}
					
		




